@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Unica+One&display=swap');
 :root {
        --primary-color:#f7b80a;
        --secondary-color: #4e0404;
        --font-size: 16px;
        --navbar-height: 64px;
        --footer-height: 50px;
        --font-family: Bebas;
      }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
header{
  position: fixed;
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  left: 0;
  right: 0;
  /* overflow: scroll; */
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.603);
}

  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
    background-color: var(--primary-color);
    padding: 0 20px;
  }
  
  .logo a>img{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    mix-blend-mode: multiply;
    animation: ride 2s infinite;
    border-bottom: 2px solid var(--secondary-color);
  }

  @keyframes ride {
    0%{
      transform: translatex(-10px);
      transition: 3s ease-out;
    }
    50%{
      transform: translatex(20px);
      transition: all 4s ease-out;
    }

    100%{
      transform: rotate(-50deg);
      transition: all ease-out;
      transition-delay: 6s;
    }

  }
  
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    transition: transform 0.3s ease-in-out;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    color: #4e0404;
    text-decoration: none;
    font-size: 18px;
    border-bottom-width: 2px solid orange ;
  transition: all 0.2s ease-in-out;
  }

  .nav-links a:hover{
   text-decoration: underline;
   /* line-height: 2px; */
  border-bottom: 2px solid rgb(54, 2, 2);
  border-bottom-width: 6px solid orange ;

  }

  .callus1{
   display: inline-flex;

  }
  
  .callus{
    display: none;
  }
  .burger {
    display: none;
    cursor: pointer;
    transition: 0.3s ease-out;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
  }

  .burger:hover{
    background-color: #330202ad;
    border-radius: 4px;
  }
  
  .burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease-out;
  }


/* smaller screen */

  @media only screen and (max-width: 600px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 64px;
      background-color: var(--primary-color);
      padding: 0 20px;
    }
.callus{
  display: inline;
  font-size: 12px;
  list-style: none;
  text-decoration: none;
  text-align: center;
}

.callus a{
  text-decoration: none;
  text-align: center;
}
  .nav-links {
    display: none;
    position: absolute;
    right: 0;
    top: 64px;
    background-color: #4e0404;
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
    transform: translateX(100%);
  }

  .nav-links a{
      color: var(--primary-color);
  }

  .nav-links li {
    margin: 10px 0;
  }
  .nav-links a{
      font-size: 16px;
  }
  
.callus1{
  display: none;
  justify-content: space-around;
}

  .burger {
    display: block;
  }

  .nav-active {
    display: flex;
    flex-direction: column;
    transform: translateX(0);
  }

  .burger-toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger-toggle .line2 {
    opacity: 0;
  }

  .burger-toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

   
  .container-item{
    
    width: 100%;
  }


  }

  /* Smallest Screen Media */
  
  @media only screen and (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        background-color: var(--primary-color);
        padding: 0 20px;
      }

    .nav-links {
      display: none;
      position: absolute;
      right: 0;
      top: 64px;
      background-color: #4e0404;
      width: 100%;
      height: auto;
      padding: 20px;
      text-align: center;
      transform: translateX(100%);
    }

    .nav-links a{
        color: var(--primary-color);
    }
  
    .nav-links li {
      margin: 10px 0;
    }
    .nav-links a{
        font-size: 16px;
    }
    
  .callus1{
    display: none;
    justify-content: space-around;
  }

    .burger {
      display: block;
    }
  
    .nav-active {
      display: flex;
      flex-direction: column;
      transform: translateX(0);
    }
  
    .burger-toggle .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .burger-toggle .line2 {
      opacity: 0;
    }
  
    .burger-toggle .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
    }

  }


  /* Introductory Page */

  
.container-head{
  background-image: url(CompanyImage/backg1.webp);
  padding: 10% 50px;
  background-position: top;
  background-size: cover;
  /* display: inline-block; */
}

.head-content{
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10% 10px;
  height: fit-content;
 
}

.head-text{
  display: inline-block;
  padding: 10px;
  width: 100%;
  height: fit-content;
  backdrop-filter: blur(3px);
  background-color: #fcfbf913;
}

.head-text h1{
  text-transform: uppercase;
  font-family: "Rubik Wet Paint", system-ui;
  font-weight: 100;
  font-style: normal;
 font-size: 2.5rem;
}


.head-text p{
  font-style: oblique;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;  
  font-size: 18px;
  line-height: 30px;
}

.head-btn{
  display:block;
  justify-content: last baseline;

}

.booked{
  background-color: #4e0404;
  border: none;
  padding: 10px 20px;
  color: white;
  transition: 0.5s ease-in;
}

.booked:hover{
  text-decoration: underline;
  opacity: 0.8;
  border-radius: 4px;
  background-color: #f7b80a;
  color: #4e0404;
}

@media screen and (max-width: 768px) {
.container-head{
  background-image: url(CompanyImage/backg1.webp);
  padding: 30% 10px;
  background-position: calc(50% - 50px);
  background-size: cover;
  /* display: inline-block; */
}

.card{
  max-width: 100%;
  width: 500px
}

.head-btn{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

}

.head-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10%;
  gap: 15px;
}

.card:nth-last-child(1){
  background-color: var(--primary-color);
  color: #4e0404;
  transition: 0.3s ease-out;
}

.card:nth-last-child(2){
  background-color: var(--secondary-color);
  color: #ffffff;
  transition: 0.3s ease-out;
}

.card:nth-last-child(3){
  background-color: var(--primary-color);
  color: #4e0404;
  transition: 0.3s ease-out;
}
.card:nth-last-child(4){
  background-color: var(--secondary-color);
  color: #ffffff;
  transition: 0.3s ease-out;
}

.card, .card-service{
  transition: 0.3s ease-out;
}
.card:hover{
  cursor: pointer;
  transform: scale(1.08);

}

.card img{
  width: 90px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  backdrop-filter: blur(3px);
  /* background-color: #fcfbf970; */
  padding: 5px;

}

.card-body{
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-overflow: ellipsis;
 
}

.card-body p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  font-style: italic;
  line-height: 15px;
 text-align: center;
}

.card-body h5{
  text-align: center;
}



/* ABOUT PAGE */

.container-about{
  background-image: url(CompanyImage/truck-ship.jpg);
  padding: auto 50px;
  background-position: center;
  background-size: cover;

}

.about-content{
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10% 20px;
 
}

.about-content span{
  color: #ffbd08;
  font-size: 19px;
 margin-left: 15px;
 background-color: #4e0404c9;
 padding: 5px 10px;
 
}

.about-text{
  font-size: 18px;
  display: flex;
  justify-content: right;
  flex-direction: column;
  padding: 10px;
  width: 100%;

}

.about-text h1{
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about-text p{
  font-style: oblique;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  line-height: 20px;
}

.about-btn{
  display:block;
  justify-content: last baseline;
}

.booked{
  background-color: #4e0404;
  border: none;
  padding: 10px 20px;
  color: white;
  transition: 0.5s ease-in;
  /* float: right; */
}

.booked:hover{
  text-decoration: underline;
  opacity: 0.8;
  border-radius: 4px;
  background-color: #f7b80a;
  color: #4e0404;
}

/* About Query */

@media  screen and (max-width: 768px) { 
.container-about{
  background-image: url(CompanyImage/truck-ship.jpg);
  padding: auto;
  background-position: center;
  background-size: cover;

}

/* CAROUSEL GALLERY */

}
 .carousel-item img {
  height: 400px;
  width: 100%;
  overflow: visible;
 }
 .carousel-item {
     position: relative;
     text-align: center;
 }
 
 .carousel-item img {
     width: 100%;
 }
 
 .carousel-text {
  width: 400px;
     position: absolute;
     /* top: 50%; */
     left: 50%;
     bottom: 5%;
     transform: translate(-50%, -50%);
     color: white;
     background-color: rgba(0, 0, 0, 0.5); /* Optional: to make text more readable */
     padding: 10px;
     border-radius: 8px;
 }

 .carousel-text h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 }



 /* SERVICES */

 .service-text{
  position: relative;
  text-align: center;
 }

.service-content{
  display: inline-flex;
  flex-direction: column;
  max-width: 100%;
  padding: 20px;
  width: 500px;
}
.service-content h2 {
  font-family: "Unica One", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
  letter-spacing: 2px;
}


.service-content p{
  font-family: "Schibsted Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  color: rgb(56, 44, 33);
  /* line-height: 30px; */
}

.service-container{
 display: flex;
 justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.card-service .service-img{
  width: 100%;
  height: 200px;
  padding: auto;
  margin: auto;

}

.card-service{
  background-color: white;
  padding: 10px;
}

.card-service:hover{
  cursor: pointer;
  transform: scale(1.05);
  border-radius: 8px;

}

.card-body-service{
  padding: 15px;
  text-align: center;
  font-weight: 200;

  & h5{
    font-family:Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    line-height: 15px;
    padding-top: 15px;
    font-weight: 600;
    color: #000000e0;
  }

& p{
  line-height: 18px;
  padding-top: 5px;
}
}

.backgroud{
  background-size: 100% 100%;
 padding-bottom: 20px;
  animation: slider 10s linear infinite;
}

@keyframes slider {
  0% {
    background-image: url(CompanyImage/shutterstock_ship.jpg);
   
  }  
  30% {
    background-image: url(CompanyImage/shutterstock_ship.jpg);
  }  
  60% {
    background-image: url(CompanyImage/shutterstock_ship.jpg);
  }  
  100% {
    background-image: url(CompanyImage/shutterstock_ship.jpg);
  }  
}


/* Form Page */

 .container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5% 50px;
  flex-wrap: wrap-reverse;
 }


 /* Contact Us Section */

 .contact-us{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(134, 165, 177, 0.719);
  height: 40vh;
 }

 .contact-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 
 
 }

 .contact-head{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  
 }


 hr{
    background-color: rgb(75, 0, 0);
    height:12px;
    border: none;
   
  }

  .contact-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .contact-btn1, .contact-btn2{
    border: none;
    padding: 5px;
    border-radius: 4px;
  }


  /* Contact Us Media */
  
@media  screen and (max-width: 768px) { 
  .contact-us{
   display: flex;
   flex-wrap: wrap;
   gap: 35px;
   padding: 10px;
   height: 50vh;
   background-color: rgba(119, 18, 0, 0.829);
   border-bottom-left-radius: 150%;
  }

  
 .contact-text{
  font-style: oblique;
  line-height: 10px;
  padding-top: 45px;
  color: white;
 }
  .contact-btn{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 10px;
    
  }
}  